.card {
  /* background: cornsilk; */
  padding: 1rem 1rem 0 1rem;
  border: 0.2em solid var(--color-foreground);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.card > .imgCard {
  border: 0.2em solid var(--color-foreground);
  display: flex;
  flex-direction: column;
}

.imgCard img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.card .links {
  display: flex;
  justify-content: space-evenly;
}
.card .link {
  display: flex;
  justify-content: space-evenly;
}

.card a {
  padding: 0.5em 0;
  text-decoration: none;
  width: 100%;
  border-top: 0.2em solid var(--color-foreground);
  text-align: center;
}

.card .links a:first-child {
  border-right: 0.2em solid var(--color-foreground);
}

section .caracteristicas {
  margin-left: -25px;
}

.card ul::before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
}

.card .stack {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}
