@keyframes navbar {
  0% {
    transform: translate(-1000px, -500px);
  }
  50% {
    transform: translate(0px, -500px);
  }
}
nav {
  background: var(--color-background);
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  animation-name: navbar;
  animation-duration: 1s;
}

nav a {
  text-decoration: none;
  flex: 2;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav a:hover {
  background: var(--color-background-hover);
}

.darkModeToggle {
  user-select: none;
  cursor: pointer;
  flex: 1;
  /* margin: 0 20px; */
}

nav .indicator {
  background: #113cfc;
  height: 10px;
  width: 0px;
  position: absolute;
  bottom: 0px;
  transition: 0.3s ease-out all;
}

nav .indicator2 {
  background: firebrick;
  height: 4px;
  width: 0px;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-out all;
}
