nav {
  background: white;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  flex: 1;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav a:hover {
  background: #f0f0f0;
}

nav .indicator {
  background: #113cfc;
  height: 10px;
  width: 0px;
  position: absolute;
  bottom: 0px;
  transition: 0.3s ease-out all;
}

nav .indicator2 {
  background: firebrick;
  height: 4px;
  width: 0px;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-out all;
}
