form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  background: grays;
  border: 0.15em solid var(--color-foreground);
  width: 100%;
  padding: 12px;
  /* border: 1px solid #ccc; */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type="submit"] {
  /* border: 0.2em solid var(--color-foreground); */
  align-self: center;
  background: white;
}
