.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

@keyframes fromTo {
  from {
    margin-left: 90%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideinFromRight {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slideinFromLeft {
  from {
    /* transform: translateX(-1000px); */
    /* transform: translateZ(90deg); */
    transform: rotate3d(0, 0, 1, 90deg);
  }
  to {
    /* transform: translateX(0px); */
    /* transform: translateZ(0deg); */
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

header h1 {
  animation-name: slideinFromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

header p {
  animation-name: slideinFromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
