.projects {
  background: chocolate;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: chartreuse;
  padding: 0 1em 0 1em;
  display: grid;
  gap: 1em;
  grid-auto-rows: 20em;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15em), 1fr));
}
