div .projects {
  /* background: chocolate; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div .container {
  /* background: chartreuse; */
  width: 90%;
  /* padding: 1em; */
  flex: 1;

  /* display: flex; */

  display: grid;
  gap: 1em;
  /* grid-auto-rows: 20em; */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25em), 1fr));
}
